*{
    margin: 0;
    padding: 0;
}
h1{
    text-align:center;
    margin-bottom: 20px;
}
#container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card{
    border: 1px solid black;
    width: 20%;
}
.nom{
    background: steelblue;
    height: 40px;
    padding-left: 10px;
}
.bloc{
    background-color: silver;
    padding: 10px 0;
    padding-left: 10px;
}
.btn{
    color: white;
    background-color: red;
    width: 30%;
    padding: 10px;
    margin: 10px 0 5px 100px;
}
.couleur{
    padding: 5px 0;
}